*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/*  inizio barra navigazione sx */
/* inizio debug  */

nav{
  background-color: black;

  height: calc(100vh - 100px)
}
#nav {
  width:100%;
  height:60%;

}


#dischi {
  background-color: pink;
}
#dischi-nav {
  background-color: orange;
}

/* fine   debug  */
/* inizio MAIN  ----------------*/
main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px);
  width: 100%;
}
/* fine MAIN  ----------------*/

/*  inizio barra navigazione sx */
nav {
  width:200px;
  height:100%;
  display: flex;
  flex-direction: column;
  padding:18px;
  font-size:14px;
}
#nav {
  display: flex;
  flex-direction:column;
  line-height:1.5;
}
#nav-1 > ul >li:nth-child(1) i{
  font-size:22px;
  color:#F8F8FF;
}
#nav-1 > ul >li:nth-child(2) i{
  font-size:22px;
  color:#808080;
}
#nav-1 > ul >li:nth-child(3) i{
  font-size:22px;
  color:#808080;

}
#nav-1 > ul >li:nth-child(1) a{
  color:#F8F8FF;
}
#nav-1{
  padding:13px 0;
}
#nav-1 li {
  padding:3px 0;
  list-style-type: none;

}
#nav-1 li a {
  color:#808080;
  text-decoration: none;
  padding-left:6px;
}

#nav-2 h3 {
  color:#F8F8FF;
}
#nav-2 li {
  padding:3px 0;
  list-style-type: none;
}
#nav-2 li a {
  color:#808080;
  text-decoration: none;
}
#playlist {
  width:100%;
  height:50px;
  display: flex;

  align-items: center;
}
#playlist a{
  text-decoration: none;
  color:#808080;
  font-size:14px;
  margin-left:7px;
}
#playlist i {
  font-size:40px;
  color:#808080;
}

#nav-3 {
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
}
#nav-3 > div a{
  color:#808080;
  text-decoration: none;
}
#nav-3 div:nth-child(2) {
  border-top:1px solid #808080;
  margin-top: 8px;
  padding-top: 8px;
}

/*  fine barra navigazione sx --*/
/* inizio barra UPGRADE --------*/
#dischi {
  width: calc(100% - 200px);
  height: 100%;
}
#upgrade {
  width:calc(100% - 200px) ;
  height: 100px;
  position: fixed;
  top:0;
  left: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(10,10,10,.9);
}
#upgrade > div {
  background-color: black;
  width: 200px;
  height: 47%;
  padding: 13px;
  text-align: center;
  border-radius: 36px;
  margin-right: 5px;
  border: 1px solid white;
}
#upgrade a {
    text-decoration: none;
    color: white;
    margin:auto;
    font-size: smaller;
}


/* fine   barra UPGRADE --------*/
/* inizio sezione MAIN dei DISCHI */
#dischi {
  overflow: auto;
  background-color: #111111;
}
#dischi-nav {
 margin-top:100px;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 height: 70px;
 background-color: #111111;

}
#dischi-nav ul {
  list-style-type: none;
  margin:auto;

}
#dischi-nav ul li {
  float: left;
}
#dischi-nav a {
  text-decoration: none;
  padding:8px;
  color:#b3b3b3;
}
#nav-1 > ul > li {
  text-decoration: none;

}
#dischi-main {
  height: calc(100% - 100px);
}
.dischi-main-row > h2{
    color:#F8F8FF;
    margin: 25px 0;
    margin-left: 6px;

}
/* inizio row dischi -----------*/

.dischi-main-child {
  display:flex;
  flex-wrap: wrap;
}
.dischi-main-items {
  flex-basis: 16%;
  min-width: 150px;
  height: 100%;
  padding:6px;
}
.dischi-main-items img {
  width: 100%;
  height: 100%;
}
.titoli-dischi {
  color:#F8F8FF;
  text-align: center;
  margin:10px 0;
}
.subtitle {
  font-size: 13px;
  color: #808080;
  margin-top: 5px;
}
#dischi-main > .dischi-main-row:nth-child(2) h2{
  margin-bottom:5px;
  margin-left: 6px;
}
#dischi-main > .dischi-main-row:nth-child(2) p{
  margin-bottom:15px;
  margin-left: 6px;

}
#dischi-main > .dischi-main-row:nth-child(3) h2{
  margin-bottom:5px;
  margin-left: 6px;

}
#dischi-main > .dischi-main-row:nth-child(3) p{
  margin-bottom:15px;
  margin-left: 6px;

}


/* fine sezione MAIN dei DISCHI */

/* inizio footer--------------- */
footer {
  height: 100px;
  width:100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #272727;
}
#footer-barra {
  width: 40%;
  height: 100%;
}
#footer-barra > div {
  width: 58%;
  height: 50%;
  margin:auto;
}
#footer-barra div:nth-child(2){
  width: 100%;
  height: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}
#footer-barra div:nth-child(2) div{
  width: 80%;
}
#footer-barra div:nth-child(2) div img{
  width: 90%;
}
#footer-barra > div ul{
  width: 100%;
  height: 100%;
  list-style-type:none;
  display:flex;
}
#footer-barra p {
  font-size:13px;
  color:#F8F8FF;
}
#footer-barra > div ul li{
  width: 20%;
  height: 100%;
  float: left;

  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;

}
#footer-barra i {

  /* margin-top: 15px; */
  color:#F8F8FF;
}
#footer-barra li:nth-child(3) i{
  font-size: xx-large;

}

#sinister {
  width: 22%;
  font-weight: 500;
  margin-left:20px;
  color:#808080;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#sinister img{
  width: 40px;
  float:left;
}
#sinister > div {
  flex-grow: 1;
  margin-left: 8px;
}
#sinister h6 {
  color:#F8F8FF;
  font-size:12px;
}
#sinister p{
  font-size:10px;

}
#footer-dx {
  width: 25%;
  display:flex;
  align-items: center;
  color:#F8F8FF;
}
#footer-dx > div:nth-child(1) {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
#footer-dx-barra {
  width:60%;
  display: flex;
  align-items: center;
}
/* fine   footer--------------- */
/* inizio Media Query per barra nav */
@media screen and (max-width:599px){
  nav {
    width: 50px;
    }
  #dischi {
    width: calc(100% - 50px);
  }
  nav a {
    display:none;
  }
}
/* fine   Media Query per barra nav */
