*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*  inizio barra navigazione sx */
/* inizio debug  */

nav{
  background-color: black;

  height: calc(100vh - 100px)
}
#nav {
  width:100%;
  height:60%;

}
#upgrade{

}
#footer-barra {
 background-color: grey;
}
#footer-barra > div ul li{
  border:2px solid black;
  background-color: blue;
}
#footer-barra div:nth-child(2){
  background-color: red;
}

#dischi {
  background-color: pink;
}
#dischi-nav {
  background-color: orange;
}

/* fine   debug  */
/* inizio MAIN  ----------------*/
main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px);
  width: 100%;
}
/* fine MAIN  ----------------*/

/*  inizio barra navigazione sx */
nav {
  width:200px;
  height:100%;
  display: flex;
  flex-direction: column;
  padding:18px;
}
#nav {
  display: flex;
  flex-direction:column;
}
#nav-1{
  padding:7px 0;
}
#nav-1 li {
  padding:3px 0;
}
#nav-2 li {
  padding:3px 0;
}

#nav-3 {
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
}

/*  fine barra navigazione sx --*/
/* inizio barra UPGRADE --------*/
#dischi {
  width: calc(100% - 200px);
  height: 100%;
}
#upgrade {
  width:calc(100% - 200px) ;
  height: 100px;
  position: fixed;
  top:0;
  left: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(10,10,10,.9);
}
#upgrade > div {
  background-color: black;
  width: 20%;
  height: 47%;
  padding: 13px;
  text-align: center;
  border-radius: 36px;
  margin-right: 5px;
  border: 1px solid white;
}
#upgrade a {
    text-decoration: none;
    color: white;
}


/* fine   barra UPGRADE --------*/
/* inizio sezione MAIN dei DISCHI */
#dischi {
  overflow: auto;
  background-color: #111111;
}
#dischi-nav {
 margin-top:100px;
 display: flex;
 justify-content: center;
 height: 70px;
 background-color: #111111;

}
#dischi-nav ul {
  list-style-type: none;
  margin:auto;

}
#dischi-nav ul li {
  float: left;
}
#dischi-nav a {
  text-decoration: none;
  padding:8px;
  color:#b3b3b3;
}
#nav-1 > ul > li {
  text-decoration: none;

}
#dischi-main {
  height: calc(100% - 100px);
}
/* inizio row dischi -----------*/
.dischi-main-child {
  display:flex;
  flex-wrap: wrap;

}
.dischi-main-items {
  flex-basis: 16%;
  min-width: 150px;
  padding:6px;
}
.dischi-main-items img {
  width: 100%;
  height: 100%;
}

/* fine sezione MAIN dei DISCHI */

/* inizio footer--------------- */
footer {
  height: 100px;
  width:100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #272727;
}
#footer-barra {
  width: 40%;
  height: 100%;
}
#footer-barra > div {
  width: 50%;
  height: 50%;
  margin:auto;
}
#footer-barra div:nth-child(2){
  width: 100%;
  height: 50%;
}
#footer-barra > div ul{
  width: 100%;
  height: 100%;
  list-style-type:none;
}
#footer-barra > div ul li{
  width: 20%;
  height: 100%;
  float: left;
  background-color: blue;
}

#sinister {
  width: 20%;
}
#sinister img{
  width: 40px;
  float:left;
}
#sinister div{
 float: left;
}


footer div:nth-child(3) {
  width: 20%;
}
/* fine   footer--------------- */
